body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "industry", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  color: white;
  background: #918060;
}
.container {
  box-sizing: border-box;
  margin: 0;
  padding: 20vh 20% 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: url('../images/cover.jpg') center #918060;
  background-size: cover;
}
h1 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 img {
  max-width: 90%;
}
p {
  margin-top: 2rem;
  font-family: "adelle", Georgia, serif;
  font-style: italic;
  opacity: 0.75;
}
ul.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.social li {
  display: inline-block;
}
ul.social li a {
  padding: 0.25em;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  .container {
    text-align: left;
  }
}

